table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%;
}
table, td, th {
    border: 1px solid rgba(0,0,0,.1);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}